[submodule "submodules/gaussian-splatting"]
	path = submodules/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting
[submodule "submodules/RoMa"]
	path = submodules/RoMa
	url = git@github.com:Parskatt/RoMa.git
[submodule "submodules/vggt"]
	path = submodules/vggt
	url = git@github.com:facebookresearch/vggt.git
